section{
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: rgba(255, 236, 200, 0.452);
    width: 300px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-bottom: 16px;
    img{
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
    }
    span{
        font-size: 24px;
        margin-left: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.player-active {
    background-color: orange;
}